.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 400px;
  height: 200px;
  margin: auto;
  background-color: #2E1E70;
  border-radius: 10%;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 5px;
  height: 100%;
  width: 100%;
  padding-left: 25px;
  background: linear-gradient(90deg, rgba(107,63,184,1) 19%, rgba(121,71,201,1) 35%, rgba(57,36,125,1) 100%);
  border-radius: 10%;
  border-right: 1px solid rgba(57,36,125,1);
  box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.2);
}

.coin {
  width: 100px;
  height: 110px;
}

.container__description {
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 25px;
}

.description__p1 {
  font-weight: 100;
}

.description__p2 {
  font-size: 20px;
  font-weight: bold;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  width: 70%;
}

.input {
  width: 60px;
  height: 60px;
  text-align: center;
  font-size: 30px;
  background-color: #342A91;
  border: none;
  border-radius: 5px;
  margin-bottom: 5px;
  color: #fff;
}

.button {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  color: #000;
  padding: 8px 12px;
  background-color: #1ef2da;
  border-radius: 20px;
  margin: 5px 0;
  cursor: pointer;
}

.button:active {
  background-color: #16a090;
}