.container_mt {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  gap: 15px;
}

.container_form_result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  gap: 10px;
  margin: 10px 0;
}

.container_resultado {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.container_desktop {
  display: none;
}

@media screen and (min-width: 900px) {
  /* .container > :nth-child(-n+2) {
    display: flex;
    flex-direction: column;
  } */

  .container_form_result {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
}


@media screen and (min-width: 1400px) {
.container_mt {
  display: none;
}

.container_desktop {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 100px;
  max-width: 1600px;
  margin: 10px auto;
}

  /* .container {
    flex-direction: row;
    max-width: 1800px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 0;
  } */


  /* .container_form_result {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 60%;
  }
  
  .container_historico {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
  } */
}